<p id="notice"><%= notice %></p>

<% if @event.locations.any? %>

<p>Locations: <%= render @event.locations %></p>

<% end %>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventdate %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
